<font size=4 color="red">a题答案：</font>

In [16]:
###注意因为和前次作业的表名重合，因此修改下新的表的名称为data3
import pymysql
conn = pymysql.connect(host = 'localhost',\
                       port=3306,user='root',\
                       passwd='123456',\
                       db='student',\
                       charset='utf8') ##连接信息
cursor = conn.cursor()
##a)	用python连接SQL语句创建一个叫data2的表
sql_creat_table = """
create table `data3`(
`id` bigint(20) DEFAULT NULL,
`name` varchar(200) DEFAULT NULL,
`sex` varchar(200) DEFAULT NULL,
`birth` varchar(200) DEFAULT NULL,
`department` varchar(200) DEFAULT NULL,
`address` varchar(200) DEFAULT NULL
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
"""
cursor.execute(sql_creat_table)

##b)	用python连接SQL语句将数据插入到表data2中；
id_list = ['901','902','903','904','905','906']
nam_list = ['张老大','张老大','张三','李四','王五','王六']
sex_list = ['男','男','女','男','女','男']
birth_list = ['1985','1986','1990','1990','1991','1988']
department_list = ['计算机系','中文系','中文系','英语系','英语系','计算机']
address_list = ['北京市海淀区','北京市昌平区','湖南省永州市','辽宁省阜新市','福建省厦门市','系湖南省衡阳市']

for i in range(len(id_list)):
    insert_sql = "insert into data3 (id,name,sex,birth,department,address) values(" + \
    "'"+id_list[i]+"',"+ "'"+nam_list[i]+"',"+ "'"+sex_list[i]+"',"+ "'"+birth_list[i]+"',"+\
    "'"+department_list[i]+"',"+ "'"+address_list[i]+"'"+')'
    print("insert_sql:",insert_sql)
    cursor.execute(insert_sql)
    conn.commit()
##c)	计算表中的人员出身的平均年份。
sql = "select avg(birth) from data3"
cursor.execute(sql)
result = cursor.fetchall()
print("表中的人员出身的平均年{}份为：{}".format(result,result1))
cursor.close()
conn.close()

insert_sql: insert into data3 (id,name,sex,birth,department,address) values('901','张老大','男','1985','计算机系','北京市海淀区')
insert_sql: insert into data3 (id,name,sex,birth,department,address) values('902','张老大','男','1986','中文系','北京市昌平区')
insert_sql: insert into data3 (id,name,sex,birth,department,address) values('903','张三','女','1990','中文系','湖南省永州市')
insert_sql: insert into data3 (id,name,sex,birth,department,address) values('904','李四','男','1990','英语系','辽宁省阜新市')
insert_sql: insert into data3 (id,name,sex,birth,department,address) values('905','王五','女','1991','英语系','福建省厦门市')
insert_sql: insert into data3 (id,name,sex,birth,department,address) values('906','王六','男','1988','计算机','系湖南省衡阳市')
表中的人员出身的平均年份为：((1988.3333333333333,),)

<font size=4 color="red">b题答案：</font>

In [24]:
import pymysql
conn = pymysql.connect(host = 'localhost',port=3306,user='root',passwd='123456',db='student',charset='utf8') ##连接信息
cursor = conn.cursor()
##a)	列查询：单独挑选出列名为“grade”的数据；
sql_a = "select grade from data1"
cursor.execute(sql_a)
result_a = cursor.fetchall()
print("第a题的答案为：{}".format(result_a))
##b)	行查询：查询name等于“吴”的所有数据；
sql_b = "select * from data1 where name = '吴'"
cursor.execute(sql_b)
result_b = cursor.fetchall()
print("第b题的答案为：{}".format(result_b))
##c)	在表中添加一行数据，数据为(999,吴,2022,19,5,84,84,88,	3,99,18)
sql_c = "insert into data1 (id,name,grade,class1,class2,class3,class4,class5,class6,class7,class8)\
        values('999','吴','2022','19','5','84','84','88','3','99','18')"
cursor.execute(sql_c)
conn.commit()   ####插入数据别忘记了进行提交操作
print('数据插入成果')
##d)	条件查询：查询name等于“吴”和列名等于“grade”的数据；
sql_d = "select grade from data1 where name = '吴'"
cursor.execute(sql_d)
result_d = cursor.fetchall()
print("第d题的答案为：{}".format(result_d))
##e)	条件查询：查询2020级中class1的成绩大于95的学生的id和name
sql_e = "select id,name from data1 where grade > 95"
cursor.execute(sql_e)
result_e = cursor.fetchall()
print("第e题的答案为：{}".format(result_e))
##f)	求平均：计算2020级class1~class8所有科目的平均值；
sql_f = "select avg(class1), avg(class2),avg(class3),avg(class4),avg(class5),avg(class6),avg(class7),avg(class8) from data1 where grade=2020"
cursor.execute(sql_f)
result_f = cursor.fetchall()
print("第f题的答案为：{}".format(result_f))
##g)	分组求平均：计算所有年级class1~class8所有科目的平均值；
sql_g = "select grade,avg(class1), avg(class2),avg(class3),avg(class4),avg(class5),avg(class6),avg(class7),avg(class8) from data1 group by grade"
cursor.execute(sql_g)
result_g = cursor.fetchall()
print("第g题的答案为：{}".format(result_g))
cursor.close()
conn.close()

第a题的答案为：(('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2022',), ('2022',), ('2022',), ('2022',))
第b题的答案为：(('1', '吴', '2020', '19', '5', '84', '84', '88', '3', '99', '18'), ('7', '吴', '2020', '5', '48', '9', '1', '42', '99', '5', '34'), ('11', '吴', '2020', '69', '60', '99', '50', '73', '35', '76', '4'), ('13', '吴', '2020', '28', '29', '92', '57', '4', '33', '22', '4'), ('18', '吴', '2020', '51', '96', '39', '73', '73', '33', '44', '68'), ('30', '吴', '2020', '59', '97', '29', '28', '62', '61', '0', '10'), ('35', '吴', '2020', '79', '33', '24', '79', '54', '28', '49', '46'), ('40', '吴', '2020', '36', '40', '62', '75', '12', '4', '20', '62'), ('54', '吴', '2019', '79', '73', '32', '93', '63', '89', '64', '97'), ('59', '吴', '2019', '13', '95', '52', '40', '75', '51', '27', '16'), ('61', '吴', '2019', '33', '33', '48', '81', '57', '49', '28', '33'), ('86', '吴', '2019', '99', '31', '44', '53', '19', '60', '96', '29'), ('93', '吴', '2019', '11', '84', '30', '100', '27', '53', '5', '98'), ('106', '吴', '2018', '23', '0', '95', '32', '76', '66', '85', '36'), ('107', '吴', '2018', '92', '90', '50', '25', '44', '8', '24', '69'), ('108', '吴', '2018', '0', '82', '10', '61', '88', '81', '17', '24'), ('113', '吴', '2018', '78', '48', '63', '15', '7', '60', '22', '0'), ('122', '吴', '2018', '14', '67', '53', '20', '26', '9', '49', '35'), ('123', '吴', '2018', '62', '81', '18', '36', '10', '83', '80', '18'), ('126', '吴', '2018', '92', '39', '50', '78', '4', '48', '78', '96'), ('137', '吴', '2018', '84', '33', '71', '30', '8', '31', '48', '21'), ('143', '吴', '2018', '28', '82', '50', '71', '54', '26', '8', '67'), ('150', '吴', '2018', '18', '99', '22', '95', '26', '11', '35', '67'), ('155', '吴', '2017', '87', '95', '78', '8', '83', '85', '50', '88'), ('167', '吴', '2017', '6', '4', '96', '95', '32', '6', '83', '60'), ('183', '吴', '2017', '54', '64', '93', '52', '99', '64', '29', '48'), ('187', '吴', '2017', '28', '61', '80', '13', '44', '6', '59', '81'), ('190', '吴', '2017', '5', '76', '11', '58', '60', '69', '87', '80'), ('191', '吴', '2017', '20', '79', '32', '69', '9', '69', '80', '49'), ('192', '吴', '2017', '65', '41', '77', '20', '67', '52', '94', '89'), ('197', '吴', '2017', '25', '68', '89', '70', '41', '26', '16', '99'), ('198', '吴', '2017', '24', '38', '16', '41', '55', '72', '71', '62'), ('999', '吴', '2022', '19', '5', '84', '84', '88', '3', '99', '18'), ('999', '吴', '2022', '19', '5', '84', '84', '88', '3', '99', '18'), ('999', '吴', '2022', '19', '5', '84', '84', '88', '3', '99', '18'), ('999', '吴', '2022', '19', '5', '84', '84', '88', '3', '99', '18'))
数据插入成果
第d题的答案为：(('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2020',), ('2019',), ('2019',), ('2019',), ('2019',), ('2019',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2018',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2017',), ('2022',), ('2022',), ('2022',), ('2022',), ('2022',))
第e题的答案为：(('1', '吴'), ('2', '王'), ('3', '周'), ('4', '赵'), ('5', '周'), ('6', '王'), ('7', '吴'), ('8', '周'), ('9', '周'), ('10', '钱'), ('11', '吴'), ('12', '郑'), ('13', '吴'), ('14', '孙'), ('15', '孙'), ('16', '周'), ('17', '王'), ('18', '吴'), ('19', '钱'), ('20', '郑'), ('21', '李'), ('22', '钱'), ('23', '郑'), ('24', '孙'), ('25', '郑'), ('26', '郑'), ('27', '孙'), ('28', '钱'), ('29', '周'), ('30', '吴'), ('31', '钱'), ('32', '郑'), ('33', '李'), ('34', '王'), ('35', '吴'), ('36', '李'), ('37', '王'), ('38', '李'), ('39', '孙'), ('40', '吴'), ('41', '郑'), ('42', '郑'), ('43', '孙'), ('44', '赵'), ('45', '孙'), ('46', '周'), ('47', '王'), ('48', '孙'), ('49', '郑'), ('50', '孙'), ('51', '王'), ('52', '李'), ('53', '李'), ('54', '吴'), ('55', '李'), ('56', '钱'), ('57', '周'), ('58', '郑'), ('59', '吴'), ('60', '王'), ('61', '吴'), ('62', '钱'), ('63', '李'), ('64', '郑'), ('65', '王'), ('66', '赵'), ('67', '钱'), ('68', '赵'), ('69', '钱'), ('70', '钱'), ('71', '王'), ('72', '孙'), ('73', '李'), ('74', '钱'), ('75', '钱'), ('76', '钱'), ('77', '王'), ('78', '郑'), ('79', '李'), ('80', '赵'), ('81', '李'), ('82', '钱'), ('83', '王'), ('84', '钱'), ('85', '郑'), ('86', '吴'), ('87', '孙'), ('88', '钱'), ('89', '孙'), ('90', '孙'), ('91', '王'), ('92', '李'), ('93', '吴'), ('94', '赵'), ('95', '郑'), ('96', '孙'), ('97', '孙'), ('98', '李'), ('99', '钱'), ('100', '赵'), ('101', '李'), ('102', '孙'), ('103', '李'), ('104', '孙'), ('105', '赵'), ('106', '吴'), ('107', '吴'), ('108', '吴'), ('109', '钱'), ('110', '钱'), ('111', '周'), ('112', '钱'), ('113', '吴'), ('114', '孙'), ('115', '王'), ('116', '孙'), ('117', '周'), ('118', '王'), ('119', '赵'), ('120', '郑'), ('121', '孙'), ('122', '吴'), ('123', '吴'), ('124', '郑'), ('125', '周'), ('126', '吴'), ('127', '王'), ('128', '郑'), ('129', '郑'), ('130', '王'), ('131', '李'), ('132', '孙'), ('133', '钱'), ('134', '王'), ('135', '孙'), ('136', '王'), ('137', '吴'), ('138', '李'), ('139', '郑'), ('140', '周'), ('141', '钱'), ('142', '赵'), ('143', '吴'), ('144', '郑'), ('145', '郑'), ('146', '孙'), ('147', '王'), ('148', '周'), ('149', '赵'), ('150', '吴'), ('151', '孙'), ('152', '王'), ('153', '赵'), ('154', '孙'), ('155', '吴'), ('156', '赵'), ('157', '孙'), ('158', '王'), ('159', '王'), ('160', '李'), ('161', '周'), ('162', '李'), ('163', '孙'), ('164', '孙'), ('165', '赵'), ('166', '王'), ('167', '吴'), ('168', '王'), ('169', '李'), ('170', '郑'), ('171', '李'), ('172', '赵'), ('173', '钱'), ('174', '郑'), ('175', '孙'), ('176', '李'), ('177', '王'), ('178', '周'), ('179', '周'), ('180', '郑'), ('181', '孙'), ('182', '赵'), ('183', '吴'), ('184', '周'), ('185', '郑'), ('186', '孙'), ('187', '吴'), ('188', '赵'), ('189', '王'), ('190', '吴'), ('191', '吴'), ('192', '吴'), ('193', '钱'), ('194', '郑'), ('195', '钱'), ('196', '赵'), ('197', '吴'), ('198', '吴'), ('199', '孙'), ('200', '王'), ('999', '吴'), ('999', '吴'), ('999', '吴'), ('999', '吴'), ('999', '吴'))
第f题的答案为：((44.32, 48.98, 52.12, 49.14, 50.72, 43.98, 52.9, 44.02),)
第g题的答案为：(('2020', 44.32, 48.98, 52.12, 49.14, 50.72, 43.98, 52.9, 44.02), ('2019', 55.42, 47.46, 50.8, 53.78, 43.38, 49.34, 44.34, 45.2), ('2018', 48.88, 53.94, 42.14, 51.94, 43.0, 47.1, 47.06, 42.32), ('2017', 47.58, 54.92, 54.46, 50.48, 50.16, 45.68, 52.12, 56.14), ('2022', 19.0, 5.0, 84.0, 84.0, 88.0, 3.0, 99.0, 18.0))

In [7]:
import pymysql
conn = pymysql.connect(host = 'localhost',\
                       port=3306,user='root',\
                       passwd='123456',\
                       db='world',\
                       charset='utf8') ##连接信息
cursor = conn.cursor()
a = "vscode"
sql = "select * from goods where account='" + a +"'"
print(sql)
cursor.execute(sql)
result = cursor.fetchall()
print(result)
cursor.close()
conn.close()

select * from goods where account='vscode'
(('12138', '主机', '100000', '邮政', '送货', '4.30', '5.2', '天津', '广州', 'vscode', '优惠', '投诉'),)